<div class="component__inner memory-game__inner">
    {{> component this}}
    
    <div class="component__widget memory-game__widget">
        <div class="memory-game-container"></div>
    </div>
</div>